
<br>
<br>
<h3>LESSON TITLE: <%= @lesson.title %></h3>

<br>
<h3>Answer Questions Below</h3>


<%= form_tag(lesson_quizzes_path, :method => "post") do %>
  <%= label_tag(:user_answer1, @question1.question) %>
  <audio src="<%= @question1.audioclip.url %>" preload="auto" controls></audio>
  <%= hidden_field_tag(:correct_answer1, @question1.answer) %>
  <%= hidden_field_tag(:octave1, @question1.octave) %>
  <%= text_field_tag(:user_answer1) %>

  <%= label_tag(:user_answer2, @question2.question) %>
  <audio src="<%= @question2.audioclip.url %>" preload="auto" controls></audio>
  <%= hidden_field_tag :correct_answer2, @question2.answer %>
  <%= hidden_field_tag(:octave2, @question2.octave) %>
  <%= text_field_tag(:user_answer2) %>

  <%= label_tag(:user_answer3, @question3.question) %>
  <audio src="<%= @question3.audioclip.url %>" preload="auto" controls></audio>
  <%= hidden_field_tag :correct_answer3, @question3.answer %>
  <%= hidden_field_tag(:octave3, @question3.octave) %>
  <%= text_field_tag(:user_answer3) %>
  <br>
  <%= submit_tag("Submit Answers") %>
<% end %>


<br>

<hr>
<h3>Test on shuffle questions</h3>
<br>
q: <%= @question1.question %> a: <%= @question1.answer %> <br>
q: <%= @question2.question %> a: <%= @question2.answer %><br>
q: <%= @question3.question %> a: <%= @question3.answer %><br>