NEW QUIZ TEMPLATE

<br>
<br>
<br>
LESSON TITLE: <%= @lesson.title %>

<br>
<br>
<br>

<h3>Questions For this Lesson</h3>
<br>
<%= @questions.each do |question| %>
  <%= question.question %><br>
  <%= question.answer %><br>
<% end %>
<br>
<h3>THE QUIZ!!!</h3>

<br>
q: <%= @question1.question %> a: <%= @question1.answer %> <br>
q: <%= @question2.question %> a: <%= @question2.answer %><br>
q: <%= @question3.question %> a: <%= @question3.answer %><br>