NEW QUIZ TEMPLATE

<br>
<br>
<br>
LESSON TITLE: <%= @lesson.title %>

<br>
<br>
<br>

<h3>Questions For this Lesson</h3>

<h3>THE QUIZ!!!</h3>

<%= form_tag(lesson_quizzes_path, :method => "post") do %>
  <%= label_tag(:user_answer1, @question1.question) %>
  <%= hidden_field_tag(:correct_answer1, @question1.answer) %>
  <%= text_field_tag(:user_answer1) %> correct answer:  <%= @question1.answer %>

  <%= label_tag(:user_answer2, @question2.question) %>
  <%= hidden_field_tag :correct_answer2, @question2.answer %>
  <%= text_field_tag(:user_answer2) %> correct answer:  <%= @question2.answer %>

  <%= label_tag(:user_answer3, @question3.question) %>
  <%= hidden_field_tag :correct_answer3, @question3.answer %>
  <%= text_field_tag(:user_answer3) %> correct answer:  <%= @question2.answer %>
  <br>
  <%= submit_tag("Submit Answers") %>
<% end %>


<br>


<h3>Test on shuffle questions</h3>
<br>
q: <%= @question1.question %> a: <%= @question1.answer %> <br>
q: <%= @question2.question %> a: <%= @question2.answer %><br>
q: <%= @question3.question %> a: <%= @question3.answer %><br>