<h1><%= @path.title %></h1>
<p><%= @path.description %></p>

<h6>All Lessons</h6>
<% @lessons.each do |lesson| %>
<div class="well">
	  <h5><%= lesson.title %></h5><br>
	  <%= lesson.description %><br>
	  <%= link_to 'Try This Lesson!', lesson_path(lesson) %>
</div>
<% end %>

