<h1><%= @lesson.title %></h1>
<p><%= @lesson.description %></p>

<h3>Take Quiz?</h3>
Title: <%= @quiz.title %><br>
Description: <%= @quiz.description %>
<br>
<br>
<h3>Questions</h3>

<% @questions.each do |question| %>
  <div>
	Question:  <%= question.question %><br>
	Soundfile: <%= question.audioclip %><br>
	Answer:    <%= question.answer %><br>
	Octave:    <%= question.octave %><br>
	Explanation:  <%= question.explanation %><br>
	Does it end here?<br>
  </div>
<% end %>