<h1><%= @lesson.title %></h1>
<p><%= @lesson.description %></p>


<%= link_to "Take Quiz?", new_lesson_quiz_path(@lesson) %>

<br>

<h3>Questions For this Lesson</h3>
<br>
<%= @questions.each do |question| %>
  <%= question.question %><br>
  <%= question.answer %><br>
<% end %>




